{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h1 class="text-center my-5 fw-light">Enrolled Courses</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for course in courses %}
    <div class="col">
      <form class="form" action="/course/unenroll/" method="post">
      {% csrf_token %}
      <div class="card shadow-sm">
        {% if course.course_img %}
        <img class="bd-placeholder-img card-img-top mx-auto mt-1" src="{{ course.course_img.url }}" style="max-width: fit-content; height: 225px;">
        {% else %}
        <img src="{% static 'default.jpeg' %}" class="bd-placeholder-img card-img-top mx-auto mt-1" style="max-width: fit-content; height: 225px;">
        {% endif %}       
        <div class="card-body">
          <h5 class="card-title">{{ course.snippet_title }}</h5>
          <p class="card-text">{{ course.snippet }}</p>
          <p class="card-text fw-bolder">{{ course.department }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <input type="hidden" name="course_id" value="{{ course.course_id }}">
              <button type="submit" class="btn btn-outline-secondary cl-btn">Un-Enroll</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
    {% endfor %}
  </div>
{% if not courses %}
<h2 class="mt-5 text-center">You have not enrolled any courses yet. Please <a href="{% url 'home' %}">click here</a> to enroll courses</h2>
{% endif %}
</div>


{% endblock %}