{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<h1 class="text-center mt-5">Edit profile</h1>
<div class="container">
    <form action="/update_profile/" class="site-form" method="post">
        {% csrf_token %}

        <label for="{{ form.age.id_for_label }}" class="form-label">Age:</label>
        {{ form.age|add_class:"form-control" }}
        {{ form.errors.age }}

        <label for="{{ form.country.id_for_label }}" class="form-label">Country/Region:</label>
        {{ form.country|add_class:"form-select" }}  
        {{ form.errors.country }}

        <label for="{{ form.mobile_number.id_for_label }}" class="form-label">Mobile number:</label>
        {{ form.mobile_number|add_class:"form-control" }}  
        {{ form.errors.mobile_number }}

        <label for="{{ form.gender.id_for_label }}" class="form-label">Sex:</label>
        {{ form.gender|add_class:"form-select" }}  
        {{ form.errors.gender }}

        <label for="{{ form.level_of_education.id_for_label }}" class="form-label">Education:</label>
        {{ form.level_of_education|add_class:"form-select" }}  
        {{ form.errors.level_of_education }}


        <div class="text-center">
            <input type = "submit" value = "Update" class="btn btn-success fw-bolder mt-5" id="profile_update"/>
        </div>
    </form>
</div>


{% endblock %}
