{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<h1 class="text-center mt-5">Signup</h1>
<div class="container">
    <form action="/signup/" class="site-form" method="post">
        {% csrf_token %}

        <label for="{{ form.first_name.id_for_label }}" class="form-label">Firstname:</label>
        {{ form.first_name|add_class:"form-control" }}
        {{ form.errors.first_name }}

        <label for="{{ form.last_name.id_for_label }}" class="form-label">Lastname:</label>
        {{ form.last_name|add_class:"form-control" }}
        {{ form.errors.last_name }}

        <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label>
        {{ form.username|add_class:"form-control" }}
        {{ form.errors.username }}

        <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
        {{ form.email|add_class:"form-control" }}
        {{ form.errors.email }}

        <label for="{{ form.password1.id_for_label }}" class="form-label">Password:</label>
        {{ form.password1|add_class:"form-control" }}
        {{ form.errors.password1 }}

        <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password:</label>
        {{ form.password2|add_class:"form-control" }}
        {{ form.errors.password2 }}

        <label for="{{ form.age.id_for_label }}" class="form-label">Age:</label>
        {{ form.age|add_class:"form-control" }}
        {{ form.errors.age }}

        <label for="{{ form.country.id_for_label }}" class="form-label">Country/Region:</label>
        {{ form.country|add_class:"form-select" }}  
        {{ form.errors.country }}

        <label for="{{ form.mobile_number.id_for_label }}" class="form-label">Mobile number:</label>
        {{ form.mobile_number|add_class:"form-control" }}  
        {{ form.errors.mobile_number }}

        <label for="{{ form.gender.id_for_label }}" class="form-label">Sex:</label>
        {{ form.gender|add_class:"form-select" }}  
        {{ form.errors.gender }}

        <label for="{{ form.level_of_education.id_for_label }}" class="form-label">Education:</label>
        {{ form.level_of_education|add_class:"form-select" }}  
        {{ form.errors.level_of_education }}



        <div class="text-center">
            <input type = "submit" value = "Register" class="btn btn-success fw-bolder mt-5" />
        </div>
    </form>
</div>


{% endblock %}


<!-- <div class="fieldWrapper">
    {{ form.age.errors }}
    <label for="{{ form.age.id_for_label }}">age:</label>
    {{ form.age|add_class:"form-control;" }}
</div> -->