{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Courses</h1>
<div class="courses container">
    <div class="row">
        {% for course in object_list %}
        <div class="card m-5" style="width: 18rem;">
                <img src="{{ course.course_img.url }}" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{ course.course_name }}</h5>
                  <p class="card-text">{{ course.snippet }}</p>
                  <p class="card-text fw-bolder">{{ course.department }}</p>
                  <p class="card-text">{{ course.start_course }}</p>
                  <p class="card-text">{{ course.end_course }}</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-success fw-bolder mb-3"  href="{% url 'course:detail' course_id=course.course_id %}">View course</a>
                </div>
            </form>
          </div>
        {% endfor %}
    </div>

</div>
{% endblock%}
