{% extends 'base.html' %}

{% block content %}
<div class="course-detail container">
    <div class="course">
        {% if course.course_img %}
        <img src="{{ course.course_img.url }}" class="card-img-top" alt="">
        {% else %}
        <img alt="course image" src="/college/media/course-images/download.jpeg">
        {% endif %}
        <h5>{{ course.course_name }}</h5>
        <p>{{ course.course_details }}</p>
        <p><span>Department: </span>{{ course.department }}</p>
        <p><span>Course start date: </span> {{ course.start_course }}</p>
        <p><span>Course end date: </span>{{ course.end_course }}</p>
        <p><span>Fees: </span>$ {{ course.fees }}</p>
        <div class="m-3">
            <h4 class="">HTML output</h4>
            {{ course.html_input|safe }}
        </div>
        {% if user.is_authenticated %}
            <form class="form" action="/course/enroll/" method="post">
                {% csrf_token %}
                <div class="text-center">
                    <input type="hidden" name="course_id" value="{{ course.course_id }}">
                    <input type="submit" value="Enroll Now" class="btn btn-success fw-bolder mb-3" />
                </div>
            </form> 
            
            {% else %}
            <h5 class="text-center">Please login to enroll in the course</h5>
            {% endif %}

    </div>
</div>
{% endblock%}
