{% extends 'base.html' %}
{% block content %}
<form action="{% url 'course:stripe_payment' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="amount" value="{{ amount }}">
    <input type="hidden" name="course_id" value="{{ course_id }}">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_51O6YLUSBeOYLWagPZMg7d5G2hsazpZNUR1hLv7RB0Gz4MxLm7eqxG9ORK2CD6XC9NK9Il2GdOKMkY4PWkqW8vyTO00DtxsPBjj"
      data-amount={{amount}}
      data-name={{course_id}}
      data-description="Enroll in the course"
      data-locale="auto">
    </script>
</form>
 <!-- RAZORPAY INTEGRATION HERE -->
  <form class="text-center border border-light p-5" actiom="{% url 'course:initiate_razorpay_payment' %}" method="POST">
    {% csrf_token %}

    <input type="hidden" name="amount" value="{{ amount }}">
    <input type="hidden" name="course_id" value="{{ course_id }}">

   
    <script src="https://checkout.razorpay.com/v1/checkout.js" 
    data-key="rzp_test_cbbT64IJEOxbfw" 
    data-amount="{{ amount }}"
    data-currency="INR" 
    data-order_id="{{payment.id}}" 
    data-buttontext="Pay with Razorpay"
    data-name="Professional Cipher"
    data-description="Django and Data Science"
    data-prefill.name="PC"
    data-prefill.email="pc@studygyaan.com" 
    data-theme.color="#F37254"></script>

</form>

<form action="{% url 'course:initiate_payment'%}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="course_id" value="{{ course_id }}">
  <input type="hidden" name="order_id" value="{{ order_id }}">
  <input type="submit" value="Pay with cashfree">
</form>
  {% endblock%}
